.vscode
config.json
Logs/
local_ftp_server/src/main/resources/config.json
local_ftp_server/Logs/

local_ftp_client/logs
local_ftp_client/*.log
local_ftp_client/npm-debug.log*
local_ftp_client/yarn-debug.log*
local_ftp_client/yarn-error.log*
local_ftp_client/pnpm-debug.log*
local_ftp_client/lerna-debug.log*
local_ftp_client/node_modules
local_ftp_client/dist
local_ftp_client/dist-ssr
local_ftp_client/*.local
local_ftp_client/.vscode/*
local_ftp_client/!.vscode/extensions.json
local_ftp_client/.idea
local_ftp_client/.DS_Store
local_ftp_client/*.suo
local_ftp_client/*.ntvs*
local_ftp_client/*.njsproj
local_ftp_client/*.sln
local_ftp_client/*.sw?
